.contact-form-popup{
    position: fixed;
    top: 0px;
    right: -698px;
    color: #FFF;
    max-width: 698px;
    width: 698px;
    transition: all 0.5s;
    max-height: 100vh;
    height: 100vh;
    z-index: 99;
    @media(max-width: 768px){
        //max-width: calc(100% - 60px);
        //right: calc(1px - (100% - 61px));
        max-width: 100%;
        right: -100%;
        height: 100vh;
        
    }
    .wpcf7-form-control-wrap{
        position: relative;
    }
    .wpcf7-not-valid-tip{
        font-size: 12px;
        position: absolute;
        margin-top: 0px !important;
    }
    .wpcf7-response-output{
        border: 0px !important;
        position: absolute;
        top: 90px;
        bottom: 0px;
        font-size: 14px;
        width: 100%;
        left: 0px;
        margin: 5px 0px 0px !important;
        padding: 0px 90px 0px 120px !important  ;
        height: 50px;
        box-sizing: border-box;
        text-align: center;
        overflow-y: scroll;
        @media(max-width: 768px){
            padding: 0px 20px !important;
            top: 60px;
            line-height: 110%;
        }
    }
    .wpcf7-spinner{
        display: none !important;
    }
    &.opened{
        right: 0px;
    }
    &__inner{
        width: 100%;
        height: 100vh;
        background: var(--main-color);
        padding: 40px 90px 40px 120px;
        box-sizing: border-box;
        position: relative;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            display: none;
        }
        scrollbar-width: none;
        @media(max-width: 992px){
            padding: 20px;
        }
    }
    &__close{
        width: 32px;
        height: 32px;
        position: absolute;
        top: 40px;
        right: 40px;
        cursor: pointer;
        svg{
            width: 100%;
            height: 100%;
        }
        @media(max-width: 758px){
            top: 20px;
            right: 20px;
        }
    }
    &__badge{
        color: #fff;
        background-color: var(--color-two);
        height: 60px;
        width: 161px;
        cursor: pointer;
        transform: rotate(-90deg);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: calc(50% - 80px);
        left: -110px;
        @media(max-width: 480px){
            height: 45px;
            left: -100px;
            font-size: 14px;
        }
    }
    .main-contact{
        &__header{
            font-size: 36px;
            text-transform: uppercase;
            line-height: 130%;
            font-weight: 600;
            //margin-bottom: 90px;
            margin-bottom: 70px;
            @media (max-width: 1300px) and (max-height: 820px) {
                margin-bottom: 40px;
            }
            @media (max-width: 768px) {
                margin-bottom: 50px;
                margin-top: -7px;
            }
        }
        p{
            margin: 0px;
        }
        &__content{
            label{
                font-size: 20px;
                font-weight: 600;
                line-height: 130%;
                text-transform: uppercase;
                margin-bottom: 30px;
                display: block;
                position: relative;
                @media (max-width: 1300px) and (max-height: 820px) {
                    margin-bottom: 20px;
                }
                @media(max-width: 768px){
                    font-size: 18px;
                }
                span{
                    display: block;
                    margin-top: 10px;
                    @media(max-width: 768px){
                        margin-top: 0px;
                    }
                }
            }
            br{
                display: none;
            }
            input[type=text],input[type=email],input[type=tel],select,textarea{
                background: transparent;
                border: 1px solid #939394;
                border-radius: 10px;
                width: 100%;
                height: 60px;
                color: #fff;
                font-size: 18px;
                padding: 20px 20px;
                box-sizing: border-box;
                font-weight: 300;
                font-family: var(--main-font);
                outline: none;
                resize: none;
                &:focus{
                    outline: none;
                }
                @media(max-width: 1100px){
                    height: 50px;
                    padding: 10px 10px;
                    font-size: 14px;
                }
                @media (max-width: 400px) and (max-height: 669px){
                    height: 40px;
                }
            }
            input[type=submit]{
                background: transparent;
                outline: none;
                bordeR: 1px solid var(--color-two);
                color: var(--color-two);
                font-size: 20px;
                font-weight: 600;
                height: 62px;
                width: 170px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                margin-left: auto;
                font-family: var(--main-font);
                cursor: pointer;
                @media(max-width: 768px){
                    height: 45px;
                    font-size: 16px;
                }
            }
            textarea{
                height: 100px;
                @media (max-width: 400px) and (max-height: 669px){
                    height: 70px;
                }
            }
            select{
                position: relative;
                cursor: pointer;
                option{
                    background: var(--main-color);
                }
                -moz-appearance:none; /* Firefox */
                -webkit-appearance:none; /* Safari and Chrome */
                appearance:none;
                z-index: 3
            }
            .select_widget{
                position: absolute;
                width: 44px;
                height: 22px;
                right: 25px;
                top: 55px;
                z-index: 2;
                cursor: pointer;
                @media(max-width:1100px){
                  height: 15px;
                }
                @media(max-width:768px){
                    right: 18px;
                    top: 38px;
                }
                @media (max-width: 400px) and (max-height: 669px){
                    height: 15px;
                }
            }
        }
    }
}