.products-block-four{
    background-color: #d2d8e2;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    padding: 330px 0px 300px;
    @media(max-width:992px){
        clip-path: polygon(0 2%, 100% 0, 100% 100%, 0% 100%);
        padding: 120px 0px;
        margin-bottom: -140px;
    }
    &__grid{
        display: grid;
        grid-template-columns: 549px auto;
        gap: 100px;
        @media(max-width: 992px){
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
    &__title{
        font-size: 76px;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        line-height: 120%;
        margin-left: 3px;
        @include vertical-line-light;
        &:before{
            top: -200px;
            left: 0px;
            height: 1800px;
            @media(max-width: 992px){
                display: none;
            }
        }
        @media(max-width: 992px){
            font-size: 36px;
            margin-left: 0px;
        }   
    }
    &__subtitle{
        font-size: 24px;
        font-weight: 500;
        line-height: 140%;
        padding-top: 70px;
        margin-right: -50px;
        align-self: flex-start;
        @media(max-width: 992px){
            font-size: 16px;
            max-width: 285px;
            padding-top: 20px;
        }
        br{
            @media(max-width: 992px){
                display: none;
            }   
        }
    }
    &__one{
        display: flex;
        align-items: flex-end;
        gap: 80px;
        padding-left: 60px;
        grid-column: span 2;
        margin-top: 0px;
        @media(max-width: 992px){
            flex-direction: column;
            padding-left: 0px;
            align-items: flex-start;
            gap: 40px;
        }
    }
    &__two{
        display: flex;
        padding-top: 100px;
        gap: 80px;
        padding-left: 2px;
        &-title{
            font-size: 24px;
            line-height: 140%;
            font-weight: 500;
            @media(max-width: 992px){
                font-size: 18px;
                br{
                    display: none;
                }
            }
           
        }
        &-description{
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin-top: 40px;
            padding-left: 25px;
            @media(max-width: 992px){
                gap: 10px;
            }
            p{
                padding: 0px;
                margin: 0px;
                position: relative;
                @media(max-width: 992px){
                    font-size: 16px;
                }
                &:before{
                    content:' ';
                    height: 2px;
                    width: 15px;
                    background-color: var(--color-two);
                    position: absolute;
                    top: 15px;
                    left: -25px;
                }
            }
        }
        &-one{
            font-size: 20px;
            line-height: 140%;
            font-weight: 300;
            min-width: 549px;
            max-width: 549px;
            padding-left: 4px;
            @media(max-width: 992px){
                min-width: 100%;
            }
        }
        &-two{
            max-width: 600px;
            font-size: 20px;
            line-height: 140%;
            font-weight: 300;
            strong{
                font-weight: 600;
            }
            @media(max-width: 992px){
                
            }
        }
    }
    &__pic1,&__pic2,&__pic3{
        @media(max-width: 992px){
            width: 70%;
            height: auto;
            margin: 0px auto;
        }        
        img{
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    &__pic1{
        @media(max-width: 992px){
            max-width: 164px;
        }        
    }
    &__pic2{
        @media(max-width: 992px){
            margin-bottom: 0px;
            max-width: 233px;
        }
    }
    &__pic3{
        @media(max-width: 992px){
            margin-top: 0px;
            max-width: 327px;
            width: 100%;
        }
    }
}