.home-block-two{
    position: relative;
    margin-top: -50px;
    color: #fff;
    z-index: 1;
    p{
        font-size: 28px;
        line-height: 130%;
        margin-bottom: 0px;
        margin-top: 10px;
        font-weight: 300;
        @media(max-width: 1520px){
            font-size: 20px;
        }
        
        @media(max-width: 992px){
            font-size: 20px;
            font-weight: 400;
        }
    }
    h3{
        font-size: 38px;
        font-weight: 600;
        line-height: 130%;
        text-transform: uppercase;
        margin: 5px 0px 0px;
        @media(max-width: 992px){
            font-size: 28px;
        }
    }
    @media(max-width: 992px){
        margin-top: 40px;
        color: var(--main-color);
        @include vertical-line;
        position: relative;
    }
    &:before{
        top: 0px;
        left: 20px;
        height: calc(100% + 830px);
        @media(max-width: 400px){
            height:  calc(100% + 870px);
        }
        @media(max-width: 350px){
            height:  calc(100% + 990px);
        }
    }
    &__pic{
        top: 0px;
        left: 0px;
        width: 100%;
        img{
            width: 100%;
        }
    }
    .container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        height: 100%;
        gap: 20px;
        @media(max-width: 992px){
            display: flex;
            flex-direction: column;
        }
    }
    &__content{
        position: absolute;
        top:0px;
        left: 0px;
        width: 100%;
        height: 100%;
        @media(max-width: 992px){
            position: relative;
        }
    }

    &__one{
        display: flex;
        flex-direction: column;
        margin-top: 220px;
        position: relative;
        margin-left: 3px;
        align-items: center;
        justify-content: flex-end;
        @media(max-width: 992px){
            display: none;
        }
        @include vertical-line;
        position: relative;
        &:before{
            top: -180px;
            left: 0px;
            height: 1350px;
            @media(max-width:2560px){
                height: 2100px;
            }
            @media(max-width:1920px){
                top: -180px;
            }
            @media(max-width:992px){
                content: '';
                display: none;
            }
        }
    }
    &__two{
        position: relative;
        p{
            margin-left: -170px;
            padding-top: 300px;
        }
        @media(max-width: 992px){
            margin-top: 20px;
            p{
                max-width: 254px;
                padding-top: 0px;
                margin-left: 0px;
                br{
                    display: none;
                }
            }
        }
    }
    &__three{
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        margin-left: 4px;
        @media(max-width: 992px){
            max-width: 254px;
            margin-left: 80px;
        }
        @media(max-width: 420px){
            
            max-width: 254px;
            margin-left: auto;
        }
        h3{
            @media(max-width: 992px){
                color: var(--color-two);
            }
        }
        p{
            padding-top: 280px;
            @media(max-width: 992px){
                padding-top: 0px;
            }
            br{
                @media(max-width: 992px){
                    display: none;
                }
            }
        }
        &:before{
            position: absolute;
            content: ' ';
            width: 2px;
            top: 200px;
            left: 3px;
            background-color: var(--line-color);
            height: 750px;
            opacity: 0.2;
            @media(max-width: 1520px){
                height: 600px;
            }
            @media(max-width: 1277px){
                height: 500px;
            }
            @media(max-width: 992px){
                top: 10px;
                left: 0px;
                height: calc(100% + 60px);
            }
        }

    }
    &__potoki{
        width: 85px;
        height: 874px;
        margin-bottom: -220px;
        margin-left: -100px;
        svg{
            width: 100%;
            height: 100%;
        }
    }
    
}