:root{
  --main-font: 'Roboto Condensed',Arial;

  --main-color: #363D48;
  --color-two: #00AFC5;
  --color-three: #373636;
  --menu-background-color: #363D48;
  --menu-active-color: #00AFC5;
  
  
  --top-screen-color: #ffffff;

  --line-color: #BAC2CE;
}
